body{
    background-color: blue;
}

.foto-user{
    position: absolute;
    top: 20px;
    right: 20px;
}

.foto-user img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #fff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}